header {
    font: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 30px;
    color: darkorange;
    position: relative;
    text-align: center;
}

input[type=checkbox] {
    transform: scale(1.5);
    vertical-align: middle;
}

main {
    margin-left: 15%;
    margin-right: 15%;
}

form {
    text-align: left;
    font-size: 23px;
    padding-left: 56px;
}

#btc_mined {
    display: none;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

