header {
    font: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 30px;
    color: darkorange;
    position: relative;
    text-align: center;
}

element.style {
    padding: none;
}

input[type=checkbox] {
    transform: scale(1.5);
    vertical-align: middle;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

h2 {
    font: 'Montserrat', sans-serif;
    font-weight: bold;
    
}
form {
    text-align: left;
    font-size: 23px;
}

#btc_mined {
    display: none;
}

.column {
    float: left;
    width: 45%;
    padding-left: 50px;
    
    margin: 1.5em;
}

table {
    font: 'Montserrat', sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom:25px;
    font-weight: bold;
    color: darkorange;
    text-align: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

